.formControl {
    margin-bottom: 20px; /* Adds space below each form control */
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns the items to the center */
}

.formControl input,
.formControl textarea,
.formControl button {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.formControl input:focus,
.formControl textarea:focus {
    border-color: #4a90e2;
    outline: none;
}

.formControl textarea {
    resize: vertical;
    min-height: 100px;
}

.formControl button {
    border: none;
    transition: background-color 0.3s ease;
}

.formControl button:hover {
    background-color: #357abD;
}
